click
colorama
streamlit
configparser
datasets
docker-pycreds
fsspec
gitdb
GitPython
google-generativeai
huggingface-hub
joblib
matplotlib
multiprocess
numpy
packaging
pandas
pathtools
portalocker
promise
protobuf
psutil
pyarrow
pytz
PyYAML
regex
sacrebleu
sacremoses
scikit-learn
scipy
sentencepiece
sentry-sdk
shortuuid
smmap
speechbrain 
subprocess32
tabulate
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-extensions
requests
six
python-dateutil
ipywidgets
huggingface_hub
virtualenv
